.btn {
    height: 45px;
    background: $main-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 12px 25px;
    transition: 0.3s all;
    &:hover {
        background-color: $main-color_active;
        transform: scale(1.01, 1.01);
        box-shadow: 0 10px 50px rgba($main-color_active, 0.3);
    }
}