.promo {
    min-height: 100vh;
    position: relative;
    background: url('../img/bg/bg_main.jpg') no-repeat 50%/cover;
    padding-top: 205px;
    &__title {
        width: 535px;
        margin-top: 10px;
    }
    &__subtitle {
        position: relative;
        @include before_circle;
        padding-left: 10px;
        z-index: 2;
    }
    &__btns {
        margin-top: 25px;
        display: flex;
        width: 250px;
        justify-content: space-between;
        align-items: center;
    }
    &__link {
        color: #000;
        text-decoration: none;
        font-weight: 700;
        &:hover {
            color: #000;
        }
    }
    .link {
        &::before {
            content: '';
            position: absolute;
            width: 73px;
            height: 2px;
            left: 366px;
            top: 417px;
            transform: scaleX(0);
            background-color: $main-color_active;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
        }
        &:hover {
            color: $main-color_active;
            transition: 0.25s all;
            box-shadow: 10px 0 50px rgba($main-color_active, 0.2);
        }
        &:hover::before {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }
}